{% extends 'app/base.html' %}
{% block title %}Items list{% endblock %}
{% block content %}
{% if messages %}
{% for m in messages %}
<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{m}}
</div>
{% endfor %}
{% endif %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="card col col-md-4 mx-2 shawdow-lg">
            <div class="card-body">
                <h4 class="text-light bg-primary border rounded p-2">Add Items</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for n in r %}
                    {% if forloop.counter == 1 %}
                        <select name="rsid" class="form-control">
                            {% for j in er %}
                            <option value="{{j.id}}">{{j}}</option>
                            {% endfor %}
                        </select>
                    {% elif forloop.counter >= 2 %}
                    <div>{{n}}</div>
                    {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col">
                            <input type="reset" value="Reset" class="btn btn-outline-danger my-2">
                        </div>
                        <div class="col">
                            <input type="submit" value="Create" class="btn btn-outline-success my-2" >
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        <div class="card col-md">
            <div class="card-body">
                <h4 class="bg-primary text-light text-center border rounded shadow-lg p-2">List of Items</h4>
                <table class="table table-borderless table-hover">
                    <tr class="bg-dark text-light">
                        <th>S.No</th>
                        <th>Restaurant Name</th>
                        <th>Item Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Availability</th>
                        <th>Operations</th>
                    </tr>
                    {% for k in a %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{k.6}}</td>
                        <td><a href="{% url 'ivw' k.5 %}">{{k.0}}</a></td>
                        <td>{% if k.1 == 'veg' %}
                            <span class="badge badge-success">Veg</span>
                            {% else %}
                            <span class="badge badge-danger">Non-Veg</span>
                            {% endif %}
                        </td>
                        <td>{{k.2}}</td>
                        <td>
                            {% if k.4 == 'AV' %}
                            <span class="badge badge-success">Available</span>
                            {% else %}
                            <span class="badge badge-danger">Not available</span>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'iup' k.5 %}" class="btn btn-outline-warning mx-1">Update</a><a href="{% url 'idel' k.5 %}" class="btn btn-outline-danger mx-1">Delete</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}