<nav class="navbar navbar-expand-sm bg-dark">
    <a class="navbar-brand" href="#">Restaurent
        <!---<img src="bird.jpg" alt="logo" style="width:40px;">--->
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hm' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ab' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ct' %}">Contact</a>
      </li>
    </ul>
    <a class="nav-link text-align-right" href="#">Login</a>
  </nav>