{% extends 'app/base.html' %}
{%block title%}Restaurent Update{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card col-md-6 ">
        <div class="card-body">
            <div class="card-title">
                <h3>Restaurent Update</h3>
            </div>
            <form method="POST">
                {% csrf_token %}
                {% for t in x %}
                    {{t}}
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <a href="{% url 'rstl' %}" class="btn btn-outline-primary form-control my-2">Back to List</a>
                    </div>
                    <div class="col">
                        <input type="submit" class="btn btn-outline-success form-control my-2" value="UPDATE">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}